@font-face {
  font-family: 'Noto Serif Balinese';
  src: url('../fonts/NotoSerifBalinese-Regular.eot');
  src: url('../fonts/NotoSerifBalinese-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NotoSerifBalinese-Regular.woff2') format('woff2'),
      url('../fonts/NotoSerifBalinese-Regular.woff') format('woff'),
      url('../fonts/NotoSerifBalinese-Regular.svg#NotoSerifBalinese-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
